@use "../variables" as vars;
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.content {
  width: calc(100% - 2rem);
  max-width: 55ch;
  margin-top: 6rem;
  color: whitesmoke;
  h1 {
    text-align: center;
    margin: 0 0 2rem;
  }
  h2 {
    padding: 0 0.3rem;
    margin-bottom: 0.6rem;
    width: fit-content;
    border-bottom: 3px dotted;
  }
}

.highlight {
  color: vars.$primary;
}
