@use "../variables" as vars;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #14191d;
  color: #ddd;
  width: 100%;

  padding-bottom: 5rem;
  h2 {
    font-family: Cardo;
    font-size: 3rem;
    margin: 2rem 0;
  }
}

.experience {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      margin-right: 0.4rem;
      margin-bottom: 0.4rem;
    }
  }
}
.great {
  color: rgb(71, 226, 71);
}

.good {
  color: yellow;
}

.vague {
  color: red;
}

.iconsContainer {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  & > span {
    width: 56px;
    height: 56px;
    padding: 12px;
    border: 0px solid black;
    border-radius: 5px;
  }
}

@media (min-width: 600px) {
  .experience {
    div {
      flex-direction: row;
    }
  }
  .iconsContainer {
    margin-left: auto;
    flex-wrap: nowrap;
  }
}
