@use "../variables" as vars;

.heroContainer {
  text-align: center;
  height: 90vh;
  position: relative;
  svg {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    animation: move 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
}
.heroTitleContainer {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroTitle {
  display: block;
  font-size: 3rem;
  color: white;
  font-weight: 100;
  text-shadow: vars.$primary 4px 3px 4px;
  transition: 400ms ease;
  &:hover {
    transform: scale(1.01);
    text-shadow: vars.$primary 4px 3px 0px;
  }
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.8rem;
  gap: 0.6rem;
  a {
    padding: 0.3rem;
    font-weight: 300;
    color: aliceblue;
    text-decoration: none;
    transition: 300ms;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid saturate($color: vars.$primary, $amount: 80);
    }
  }
}

@media (min-width: 480px) {
  .heroContainer {
    height: 100vh;
  }
  .heroTitle {
    font-size: 6rem;
  }
}

@keyframes move {
  from {
    transform: translate(-50%, 10px);
  }
  50% {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, 10px);
  }
}
